# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
affine
attrs
backports
backports.functools_lru_cache
blosc
boost-cpp
brotli
brotlipy
brunsli
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
cfitsio
chardet
charls
click
click-plugins
cligj
cloudpickle
cryptography
curl
cycler
cytoolz
dask-core
decorator
expat
fontconfig
freetype
freexl
geos
geotiff
gettext
giflib
glib
hdf4
hdf5
icu
idna
imagecodecs
imageio
joblib
jpeg
json-c
jxrlib
kealib
kiwisolver
krb5
lcms2
lerc
libaec
# libblas
# libcblas
libcurl
# libcxx
libdap4
libedit
libev
libffi
libgdal
# libgfortran
libiconv
libkml
# liblapack
libnetcdf
libnghttp2
libopenblas
libpng
libpq
libspatialite
libssh2
libtiff
libwebp-base
libxml2
libzopfli
# llvm-openmp
lz4-c
matplotlib
matplotlib-base
mkl
ncurses
networkx
ninja
numpy
olefile
openjpeg
openssl
pandas
pcre
pillow
pip
pixman
poppler
poppler-data
postgresql
proj
prompt-toolkit
prompt_toolkit
pycparser
pygments
pyopenssl
pyparsing
pysocks
python
python-dateutil
# python_abi
pytorch
pytz
pywavelets
pyyaml
rasterio
readline
requests
scikit-image
scikit-learn
scipy
setuptools
shapely
six
snappy
snuggs
sqlite
tbb
threadpoolctl
tifffile
tiledb
tk
toolz
torchvision
tornado
tqdm
# tzcode
urllib3
wcwidth
wheel
xerces-c
xz
yaml
zfp
zlib
zstd
